/** css variables **/
:root {
  --primary-font:     "Lato", sans-serif;
  --secondary-font:   "Inter", sans-serif;
  --font-archivo: "Archivo", sans-serif;
  --primary-color:   #EE840F;
  --primary-light:    #EB973B;
  --secondary-color: #000000;
  --color-white:     #ffffff;
  --shape-color:     #46DBC9; }
